* {
    margin: 0;
    padding: 0;
}


.bg-img {
    background-image: url(/bible-1868070__480.jpg);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}


.text {
    margin: 300px at-content;
    text-aliguto;
    width: fin: center;
    margin-top: 90px;
    color: white;
    
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(134, 15, 15);
    color: white;
}

.list .h3 {
    color: white;
    text-align: center;
    /* position: ; */
}



#services {
    padding: 50px 20px;
}

.services {
    margin: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 350px;
}

.card>img {
    width: inherit;
}

#info{
padding: 90px 40px;
margin-top: 40px;
}
 
.info{
    margin: 20px;
    text-align: center;
    padding-bottom:20px ;
}
.mess{
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.unit{
display: flex;
flex-direction: column;
align-items: center;
width: 290px;
}

.unit>img{
width: 50px;


}
#main {
    display: flex;
    align-items: center;
    padding-left: 65px;
    margin-top: 40px;
}

/* #main>img {} */

.main-content {
    padding-left: 20px;
}



footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

#more {
    padding: 50px 20px;
}


.more {
    margin: 50px;
    text-align: center;
}



.mission {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



h3 {
    text-align: center;
}



.icons {
    width: 350px;

}



span {
    color: red;
}


.icons>img {
    width: inherit;

}


